# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Docker
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Temp
*.tmp
*.bak
