# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Django
*.log
db.sqlite3
beautybans/staticfiles/
beautybans/media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp
*.tmp
*.bak